/*
lole-menu new style
@0.5.84
*/
.lole-menu {
  padding-left: 0.2em;
  &.menu {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    margin: 0.5rem 0;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: transparent;
    font-weight: normal;
    flex-wrap: wrap;
    list-style: none;
    min-height: 0.2rem;

    &:after {
      content: '';
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:not(.vertical) .item {
      display: flex;
      display: -ms-flexbox;
      display: -webkit-box;
      align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
    }

    .item {
      position: relative;
      vertical-align: middle;
      line-height: 0.9em;
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background: none;
      padding: 1em 0.5em;
      text-transform: none;
      color: rgba(0, 0, 0, 0.8);
      font-weight: normal;
      -webkit-transition: background 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
      transition: background 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
      transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease;
      transition: background 0.1s ease, box-shadow 0.1s ease, color 0.1s ease, -webkit-box-shadow 0.1s ease;
    }

    > .item:first-child {
      border-radius: 0.2rem 0 0 0.2rem;
    }

    .text.item > * {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
      line-height: 1.3;
    }

    .item > {
      a:not([class*='.lole']) {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
        line-height: 1.3;
      }

      p {
        &:only-child {
          -webkit-user-select: text;
          -moz-user-select: text;
          -ms-user-select: text;
          user-select: text;
          line-height: 1.3;
        }

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      i.icon {
        opacity: 0.8;
        float: none;
        margin: 0 0.35em 0 0;
      }
    }

    &:not(.vertical) .item > .button {
      position: relative;
      top: 0;
      margin: -0.5em 0;
      padding-bottom: 0.7em;
      padding-top: 0.7em;
      font-size: 14px;
    }

    > .grid {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: inherit;
      -ms-flex-align: inherit;
      align-items: inherit;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: inherit;
      flex-direction: inherit;
    }
  }

  /*celled*/
  &.celled.menu:not(.vertical) {
    border: 1px solid rgba(34, 36, 38, 0.15);
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    border-radius: 0.2rem;

    > .item:before {
      content: '';
      top: 0%;
      right: 0px;
      height: 100%;
      width: 1px;
      background: rgba(34, 36, 38, 0.1);
      position: absolute;
    }
  }

  &.celled.menu {
    .active.item:hover .lole-menu.celled.vertical.menu .active.item:hover {
      background-color: rgba(249, 206, 224, 0.15);
      color: #f9cce2;
    }

    .item:not(.disabled):not(.submenu):hover {
      background-color: rgba(249, 206, 224, 0.15);
    }
  }

  &.menu:not(.celled):not(.vertical):not(.tabular) .active.item {
    color: #f9cce2;
    border-bottom: 2px solid #f9cce2;
    font-weight: normal;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &.celled.menu .active.item {
    font-weight: normal;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #f9cce2;
  }

  &.menu .active.item > i.icon {
    opacity: 1;
  }

  /*item*/
  &.menu {
    .item {
      cursor: pointer;
    }

    &:not(.celled) .item:not(.disabled):hover {
      color: rgba(249, 204, 226, 0.8);
    }

    .item.disabled {
      cursor: not-allowed;
      background-color: transparent !important;
      color: rgba(40, 40, 40, 0.3);

      &:not(.disabled):hover {
        cursor: default;
        background-color: transparent !important;
        //color: rgba(40, 40, 40, 0.3);
      }
    }

    &:not(.vertical) {
      .left {
        &.item, &.submenu {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-right: auto !important;
        }
      }

      .right {
        &.item, &.submenu {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-right: auto !important;
        }
      }
    }

    .right {
      &.item::before, &.submenu > .item::before {
        right: auto;
        left: 0;
      }
    }
  }

  /*menu .item.submenu -> icon控制icon旋转*/
  &.menu{
    .item.submenu{

      .arrow-icon {

        transition: transform .25s ease-in-out;
        margin-left: 1em;
      }
      &:hover {
        .arrow-icon {
          transform: rotate(180deg);
        }
      }

      .is-vertical {
        .arrow-icon {
          transform: rotate(0deg) !important;
        }
      }

      .is-vertical.is-opened {
        .arrow-icon {
          transform: rotate(180deg) !important;
        }
      }
    }
  }

  /*menu -> lole-submenu控制弹出的submenu 水平*/
  &.menu:not(.vertical){
    .item.submenu{
      position: relative;
      div[class*='zoom']{
        position: absolute!important;
        top: calc(100% + 8px) !important;
        left: 0 !important;
        .lole-submenu {
          position: absolute;
          background: $white;
          z-index: 100;
          top: calc(100% + 8px) !important;
          left: 0 !important;
          border: $menu-border-width solid $menu-border-color;
          box-shadow: $submenu-box-shadow;
          list-style:none;
          padding-left: 0!important;
          white-space: nowrap;
          //transition: $menu-transition;
          .menu-item {
            padding: $menu-item-padding-y $menu-item-padding-x;
            cursor: pointer;
            transition: $menu-transition;
            color: $body-color;
            &.is-active, &:hover {
              color: $menu-item-active-color !important;
            }
          }
        }

      }

    }
  }

  /*menu -> lo,e-submenu控制submenu 垂直*/
  &.vertical.celled.menu{
    box-shadow: none;
  }
  &.vertical.menu {
    .item.submenu {
      list-style: none;
      position: relative;
      flex-direction: column;
      border-bottom: 0;
      .lole-submenu{
        list-style:none;
        .item{
          padding-top: 1em;
          padding-left: 1em;
          margin-left: calc(-1em);
        }
        .item:first-child{
          margin-top: 1em;
        }
        .item:last-child{
          margin-bottom: 1em;
        }

      }

    }
    >.item{
      //padding: $menu-item-padding-y $menu-item-padding-x;
    }

    //margin: 10px 20px;
    border-left: $menu-border-width solid transparent;
    .item{
      &.is-active, &:hover{
        border-bottom: 0;
        border-left: $menu-item-active-border-width solid $menu-item-active-color;
      }
    }
  }

  /*vertical menu item*/
  &.vertical.menu {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    /*关键！*/
    flex-direction: column;
    border-bottom: none;

    > .item {
      &:first-child {
        border-top: 0.2rem;
        border-left: 0.2rem;
      }

      &:last-child {
        border-bottom: 0.2rem;
        border-left: 0.2rem;
      }
    }

    .item > {
      .label {

      }

      i.icon {
        width: 1em;
        float: right;
        margin: 0 0 0 0.5em;
      }

      .label + i.icon {
        float: none;
        margin: 0 0.5em 0 0;
      }
    }

    .active.item {
      -webkit-box-shadow: none;
      box-shadow: none;
      border-radius: 0;
    }

    &:not(.celled) .active.item {
      border-left: 2px solid #f9cce2;
      color: rgba(249, 204, 226, 0.8);
    }
  }
  &.celled.vertical.menu .active.item {
    background-color: rgba(249, 204, 226, 0.15);
  }

  /*vertical menu item (submenu)*/
  &.vertical.menu {
    .item > .submenu {
      list-style: none;
      white-space: nowrap;
      flex-direction: column;      /*关键！*/

      display: flex;
      position: relative;

      .label {
        /*float: right;
        text-align: center;*/
        color: $primary;
        padding-bottom: 1em;
      }
    }

    .submenu {
      .item {
        background: none;
        padding: 1em 1em;
        //color: rgba(255, 0, 0, 0.5);
      }

      .active.item {
        border-left: 2px solid #f9cce2;
        margin-left: calc(-1em);
        padding-left: calc(2em);
      }
    }

    .item .submenu {
      a.item:hover, .link.item:hover {
        color: rgba(0, 0, 0, 0.85);
      }
    }

    .submenu .item:before {
      display: none;
    }
  }

  /*menu horizontal -> submenu item*/
  &.menu .lole-menu.horizontal {
    &.submenu > .item {
      margin: 0;
      text-align: left;
      font-size: 1em !important;
      padding: 0.8em 1em !important;
      background: transparent !important;
      color: rgba(0, 0, 0, 0.87) !important;
      text-transform: none !important;
      font-weight: normal !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      -webkit-transition: none !important;
      transition: none !important;
    }

    .submenu > {
      .item:hover, .selected.item {
        background: rgba(0, 0, 0, 0.05) !important;
        color: rgba(0, 0, 0, 0.95) !important;
      }

      .active.item {
        background: rgba(0, 0, 0, 0.03) !important;
        font-weight: bold !important;
        color: rgba(0, 0, 0, 0.95) !important;
      }
    }

    &.item .submenu .item:not(.filtered) {
      display: block;
    }

    .submenu > .item .icon:not(.horizontal) {
      display: inline-block;
      font-size: 1em !important;
      float: none;
      margin: 0em 0.75em 0em 0em;
    }
  }
}
