
.xiOn-switch{

}


.toggle{
  .xiOn-switch-input{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
    background-color: #e0e0e0;
    box-shadow: #c2c2c2 0 0 0 0 inset;
    position: relative;
    transition:0.4s;
  }
  .xiOn-switch-input:before{
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    position: absolute;
    left:0;
    top:1px;
    transition:0.3s;
  }
  .xiOn-switch-input:checked{
    border-color: #81d480;
    box-shadow: #83e482 0 0 0 14px inset;
    background-color: #81d480;
  }
  .xiOn-switch-input:checked:before{
    left:32px;
  }
}