.lole-typography {
  &.typography {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.mark.typography {
    color: inherit;
    border-radius: 0.4rem;
    padding: 0.05rem 0.4rem 0.2rem;
    background-color: rgba(249, 204, 226, 0.5);
  }
}

/*
mask
*/

mark {
  color: inherit;
  border-radius: 0.4rem;
  padding: 0.05rem 0.4rem 0.2rem;
  background-color: rgba(249, 204, 226, 0.5);
}

/*
underline下划线
*/

.lole-typography {
  &.underline.typography {
    position: relative;
    z-index: 2;
    white-space: nowrap;

    &:after {
      content: "";
      display: block;
      background: rgba(249, 204, 226, 0.7);
      border-radius: 5rem;
      position: absolute;
      width: calc(100% + 2.5%);
      height: 30%;
      left: -1.5%;
      bottom: 9%;
      z-index: -1;
      margin-top: 0;
      transition: all 0.2s ease-in-out;
    }
  }

  &.orange.underline.typography:after {
    background: rgba(253, 126, 20, 0.3);
  }

  &.red.underline.typography:after {
    background: rgba(253, 53, 69, 0.3);
  }

  &.yellow.underline.typography:after {
    background: rgba(250, 219, 20, 0.3);
  }

  &.green.underline.typography:after {
    background: rgba(82, 196, 26, 0.3);
  }

  &.indigo.underline.typography:after {
    background: rgba(102, 16, 242, 0.3);
  }

  &.purple.underline.typography:after {
    background: rgba(111, 66, 193, 0.3);
  }

  &.teal.underline.typography:after {
    background: rgba(32, 201, 151, 0.3);
  }

  &.pink.underline.typography:after {
    background: rgba(214, 51, 132, 0.3);
  }

  &.cyan.underline.typography:after {
    background: rgba(23, 162, 184, 0.3);
  }

  &.white.underline.typography:after {
    background: rgba(255, 255, 255, 3);
  }

  &.sky.underline.typography:after {
    background: rgba(94, 185, 240, 0.3);
  }

  &.leaf.underline.typography:after {
    background: rgba(124, 183, 152, 0.5);
  }

  &.underline-2.typography {
    position: relative;
    z-index: 2;
    white-space: nowrap;

    &:after {
      content: "";
      display: block;
      background: rgba(249, 204, 226, 0.7);
      border-radius: 5rem;
      position: absolute;
      width: calc(100% + 2.5%);
      height: 12%;
      left: -1.5%;
      bottom: -10%;
      z-index: -1;
      margin-top: 0;
      transition: all 0.2s ease-in-out;
    }
  }

  &.orange.underline-2.typography:after {
    background: rgba(253, 126, 20, 0.3);
  }

  &.red.underline-2.typography:after {
    background: rgba(253, 53, 69, 0.3);
  }

  &.yellow.underline-2.typography:after {
    background: rgba(250, 219, 20, 0.3);
  }

  &.green.underline-2.typography:after {
    background: rgba(82, 196, 26, 0.3);
  }

  &.indigo.underline-2.typography:after {
    background: rgba(102, 16, 242, 0.3);
  }

  &.purple.underline-2.typography:after {
    background: rgba(111, 66, 193, 0.3);
  }

  &.teal.underline-2.typography:after {
    background: rgba(32, 201, 151, 0.3);
  }

  &.pink.underline-2.typography:after {
    background: rgba(214, 51, 132, 0.3);
  }

  &.cyan.underline-2.typography:after {
    background: rgba(23, 162, 184, 0.3);
  }

  &.white.underline-2.typography:after {
    background: rgba(255, 255, 255, 3);
  }

  &.sky.underline-2.typography:after {
    background: rgba(94, 185, 240, 0.3);
  }

  &.leaf.underline-2.typography:after {
    background: rgba(124, 183, 152, 0.5);
  }

  &.gradient-1.typography:after {
    background: linear-gradient(120deg, #f857a6 10%, #ef3f6e 100%) !important;
  }

  &.gradient-2.typography:after {
    background: linear-gradient(40deg, #f5b161 0.4%, #ec366e 100.2%) !important;
  }

  &.gradient-3.typography:after {
    background: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%) !important;
  }

  &.gradient-4.typography:after {
    background: linear-gradient(125deg, #9040db, #ff72c2 50%, #ffd84f) !important;
  }

  &.gradient-5.typography:after {
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%) !important;
  }

  &.gradient-6.typography:after {
    background: linear-gradient(45deg, #08AEEA 0%, #2AF598 100%) !important;
  }

  &.gradient-7.typography:after {
    background: linear-gradient(100deg, #0093e9 0, #80d0c7 95%) !important;
  }

  &.gradient-8.typography:after {
    background: linear-gradient(45deg, #ffdee9, #b5fffc) !important;
  }

  &.underline-3 {
    &.typography {
      position: relative;
      z-index: 1;

      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        display: block;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        left: 50%;
        bottom: -0.1em;
        width: 110%;
        height: 0.3em;
        transform: translateX(-50%);
      }
    }

    &.style-1 {
      &.typography {
        &:before, &:after {
          content: "";
          z-index: -1;
          border: 3px solid rgba(249, 204, 226, 0.7);
          position: absolute;
          left: 50%;
          top: 55%;
          opacity: 1;
          border-radius: 80%;
        }

        &:before {
          transform: translate(-50%, -50%) rotate(-2deg);
          border-top-width: 0;
          width: 110%;
          height: 130%;
        }

        &:after {
          transform: translate(-50%, -50%) rotate(-5deg);
          border-left-width: 0;
          border-bottom-width: 0;
          width: 110%;
          height: 140%;
        }
      }

      &.sky.typography {
        &:before, &:after {
          border-color: #5eb9f0;
        }
      }

      &.purple.typography {
        &:before, &:after {
          border-color: #747ed1;
        }
      }

      &.pink.typography {
        &:before, &:after {
          border-color: #d16b86;
        }
      }

      &.red.typography {
        &:before, &:after {
          border-color: #e2626b;
        }
      }

      &.orange.typography {
        &:before, &:after {
          border-color: #f78b77;
        }
      }

      &.yellow.typography {
        &:before, &:after {
          border-color: #fab758;
        }
      }

      &.green.typography {
        &:before, &:after {
          border-color: #45c4a0;
        }
      }

      &.leaf.typography {
        &:before, &:after {
          border-color: #7cb798;
        }
      }

      &.white.typography {
        &:before, &:after {
          border-color: #fff;
        }
      }

      &.light.typography {
        &:before, &:after {
          border-color: #fefefe;
        }
      }

      &.gray.typography {
        &:before, &:after {
          border-color: #f6f7f9;
        }
      }

      &.dark.typography {
        &:before, &:after {
          border-color: #262b32;
        }
      }

      &.primary.typography {
        &:before, &:after {
          border-color: rgba(249, 204, 226, 0.7);
        }
      }
    }

    &.style-2 {
      &.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208.01 8.3'%3E%3Cpath fill='rgba(249,204,226,0.7)' d='M64.42,2.42Q42.78,1.46,21.19,0c-2.8-.19-4.09.89-3.87,2L3.92,1.87c-5.13-.05-5.28,3.87-.12,3.92l60.49.55c46.63,2.08,93.34,2.51,139.81,1.27,5-.13,5.39-3.87.13-3.92Z'/%3E%3C/svg%3E");
      }

      &.sky.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208.01 8.3'%3E%3Cpath fill='%235eb9f0' d='M64.42,2.42Q42.78,1.46,21.19,0c-2.8-.19-4.09.89-3.87,2L3.92,1.87c-5.13-.05-5.28,3.87-.12,3.92l60.49.55c46.63,2.08,93.34,2.51,139.81,1.27,5-.13,5.39-3.87.13-3.92Z'/%3E%3C/svg%3E");
      }

      &.purple.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208.01 8.3'%3E%3Cpath fill='%23747ed1' d='M64.42,2.42Q42.78,1.46,21.19,0c-2.8-.19-4.09.89-3.87,2L3.92,1.87c-5.13-.05-5.28,3.87-.12,3.92l60.49.55c46.63,2.08,93.34,2.51,139.81,1.27,5-.13,5.39-3.87.13-3.92Z'/%3E%3C/svg%3E");
      }

      &.pink.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208.01 8.3'%3E%3Cpath fill='%23d16b86' d='M64.42,2.42Q42.78,1.46,21.19,0c-2.8-.19-4.09.89-3.87,2L3.92,1.87c-5.13-.05-5.28,3.87-.12,3.92l60.49.55c46.63,2.08,93.34,2.51,139.81,1.27,5-.13,5.39-3.87.13-3.92Z'/%3E%3C/svg%3E");
      }

      &.red.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208.01 8.3'%3E%3Cpath fill='%23e2626b' d='M64.42,2.42Q42.78,1.46,21.19,0c-2.8-.19-4.09.89-3.87,2L3.92,1.87c-5.13-.05-5.28,3.87-.12,3.92l60.49.55c46.63,2.08,93.34,2.51,139.81,1.27,5-.13,5.39-3.87.13-3.92Z'/%3E%3C/svg%3E");
      }

      &.orange.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208.01 8.3'%3E%3Cpath fill='%23f78b77' d='M64.42,2.42Q42.78,1.46,21.19,0c-2.8-.19-4.09.89-3.87,2L3.92,1.87c-5.13-.05-5.28,3.87-.12,3.92l60.49.55c46.63,2.08,93.34,2.51,139.81,1.27,5-.13,5.39-3.87.13-3.92Z'/%3E%3C/svg%3E");
      }

      &.yellow.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208.01 8.3'%3E%3Cpath fill='%23fab758' d='M64.42,2.42Q42.78,1.46,21.19,0c-2.8-.19-4.09.89-3.87,2L3.92,1.87c-5.13-.05-5.28,3.87-.12,3.92l60.49.55c46.63,2.08,93.34,2.51,139.81,1.27,5-.13,5.39-3.87.13-3.92Z'/%3E%3C/svg%3E");
      }

      &.green.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208.01 8.3'%3E%3Cpath fill='%2345c4a0' d='M64.42,2.42Q42.78,1.46,21.19,0c-2.8-.19-4.09.89-3.87,2L3.92,1.87c-5.13-.05-5.28,3.87-.12,3.92l60.49.55c46.63,2.08,93.34,2.51,139.81,1.27,5-.13,5.39-3.87.13-3.92Z'/%3E%3C/svg%3E");
      }

      &.leaf.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208.01 8.3'%3E%3Cpath fill='%237cb798' d='M64.42,2.42Q42.78,1.46,21.19,0c-2.8-.19-4.09.89-3.87,2L3.92,1.87c-5.13-.05-5.28,3.87-.12,3.92l60.49.55c46.63,2.08,93.34,2.51,139.81,1.27,5-.13,5.39-3.87.13-3.92Z'/%3E%3C/svg%3E");
      }

      &.white.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208.01 8.3'%3E%3Cpath fill='%23fff' d='M64.42,2.42Q42.78,1.46,21.19,0c-2.8-.19-4.09.89-3.87,2L3.92,1.87c-5.13-.05-5.28,3.87-.12,3.92l60.49.55c46.63,2.08,93.34,2.51,139.81,1.27,5-.13,5.39-3.87.13-3.92Z'/%3E%3C/svg%3E");
      }

      &.light.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208.01 8.3'%3E%3Cpath fill='%23fefefe' d='M64.42,2.42Q42.78,1.46,21.19,0c-2.8-.19-4.09.89-3.87,2L3.92,1.87c-5.13-.05-5.28,3.87-.12,3.92l60.49.55c46.63,2.08,93.34,2.51,139.81,1.27,5-.13,5.39-3.87.13-3.92Z'/%3E%3C/svg%3E");
      }

      &.gray.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208.01 8.3'%3E%3Cpath fill='%23f6f7f9' d='M64.42,2.42Q42.78,1.46,21.19,0c-2.8-.19-4.09.89-3.87,2L3.92,1.87c-5.13-.05-5.28,3.87-.12,3.92l60.49.55c46.63,2.08,93.34,2.51,139.81,1.27,5-.13,5.39-3.87.13-3.92Z'/%3E%3C/svg%3E");
      }

      &.dark.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208.01 8.3'%3E%3Cpath fill='%23262b32' d='M64.42,2.42Q42.78,1.46,21.19,0c-2.8-.19-4.09.89-3.87,2L3.92,1.87c-5.13-.05-5.28,3.87-.12,3.92l60.49.55c46.63,2.08,93.34,2.51,139.81,1.27,5-.13,5.39-3.87.13-3.92Z'/%3E%3C/svg%3E");
      }

      &.primary.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 208.01 8.3'%3E%3Cpath fill='rgba(249,204,226,0.7)' d='M64.42,2.42Q42.78,1.46,21.19,0c-2.8-.19-4.09.89-3.87,2L3.92,1.87c-5.13-.05-5.28,3.87-.12,3.92l60.49.55c46.63,2.08,93.34,2.51,139.81,1.27,5-.13,5.39-3.87.13-3.92Z'/%3E%3C/svg%3E");
      }
    }

    &.style-3 {
      &.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205 9.37'%3E%3Cpath fill='rgba(249,204,226,0.7)' d='M202.47,9.37A1191.26,1191.26,0,0,0,1.79,7.48,1.67,1.67,0,0,1,0,5.92H0A1.76,1.76,0,0,1,1.63,4.21c67-5.71,133.83-5.43,200.8-.27A2.75,2.75,0,0,1,205,6.88h0A2.6,2.6,0,0,1,202.47,9.37Z'/%3E%3C/svg%3E");
      }

      &.sky.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205 9.37'%3E%3Cpath fill='%235eb9f0' d='M202.47,9.37A1191.26,1191.26,0,0,0,1.79,7.48,1.67,1.67,0,0,1,0,5.92H0A1.76,1.76,0,0,1,1.63,4.21c67-5.71,133.83-5.43,200.8-.27A2.75,2.75,0,0,1,205,6.88h0A2.6,2.6,0,0,1,202.47,9.37Z'/%3E%3C/svg%3E");
      }

      &.purple.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205 9.37'%3E%3Cpath fill='%23747ed1' d='M202.47,9.37A1191.26,1191.26,0,0,0,1.79,7.48,1.67,1.67,0,0,1,0,5.92H0A1.76,1.76,0,0,1,1.63,4.21c67-5.71,133.83-5.43,200.8-.27A2.75,2.75,0,0,1,205,6.88h0A2.6,2.6,0,0,1,202.47,9.37Z'/%3E%3C/svg%3E");
      }

      &.pink.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205 9.37'%3E%3Cpath fill='%23d16b86' d='M202.47,9.37A1191.26,1191.26,0,0,0,1.79,7.48,1.67,1.67,0,0,1,0,5.92H0A1.76,1.76,0,0,1,1.63,4.21c67-5.71,133.83-5.43,200.8-.27A2.75,2.75,0,0,1,205,6.88h0A2.6,2.6,0,0,1,202.47,9.37Z'/%3E%3C/svg%3E");
      }

      &.red.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205 9.37'%3E%3Cpath fill='%23e2626b' d='M202.47,9.37A1191.26,1191.26,0,0,0,1.79,7.48,1.67,1.67,0,0,1,0,5.92H0A1.76,1.76,0,0,1,1.63,4.21c67-5.71,133.83-5.43,200.8-.27A2.75,2.75,0,0,1,205,6.88h0A2.6,2.6,0,0,1,202.47,9.37Z'/%3E%3C/svg%3E");
      }

      &.orange.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205 9.37'%3E%3Cpath fill='%23f78b77' d='M202.47,9.37A1191.26,1191.26,0,0,0,1.79,7.48,1.67,1.67,0,0,1,0,5.92H0A1.76,1.76,0,0,1,1.63,4.21c67-5.71,133.83-5.43,200.8-.27A2.75,2.75,0,0,1,205,6.88h0A2.6,2.6,0,0,1,202.47,9.37Z'/%3E%3C/svg%3E");
      }

      &.yellow.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205 9.37'%3E%3Cpath fill='%23fab758' d='M202.47,9.37A1191.26,1191.26,0,0,0,1.79,7.48,1.67,1.67,0,0,1,0,5.92H0A1.76,1.76,0,0,1,1.63,4.21c67-5.71,133.83-5.43,200.8-.27A2.75,2.75,0,0,1,205,6.88h0A2.6,2.6,0,0,1,202.47,9.37Z'/%3E%3C/svg%3E");
      }

      &.green.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205 9.37'%3E%3Cpath fill='%2345c4a0' d='M202.47,9.37A1191.26,1191.26,0,0,0,1.79,7.48,1.67,1.67,0,0,1,0,5.92H0A1.76,1.76,0,0,1,1.63,4.21c67-5.71,133.83-5.43,200.8-.27A2.75,2.75,0,0,1,205,6.88h0A2.6,2.6,0,0,1,202.47,9.37Z'/%3E%3C/svg%3E");
      }

      &.leaf.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205 9.37'%3E%3Cpath fill='%237cb798' d='M202.47,9.37A1191.26,1191.26,0,0,0,1.79,7.48,1.67,1.67,0,0,1,0,5.92H0A1.76,1.76,0,0,1,1.63,4.21c67-5.71,133.83-5.43,200.8-.27A2.75,2.75,0,0,1,205,6.88h0A2.6,2.6,0,0,1,202.47,9.37Z'/%3E%3C/svg%3E");
      }

      &.white.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205 9.37'%3E%3Cpath fill='%23fff' d='M202.47,9.37A1191.26,1191.26,0,0,0,1.79,7.48,1.67,1.67,0,0,1,0,5.92H0A1.76,1.76,0,0,1,1.63,4.21c67-5.71,133.83-5.43,200.8-.27A2.75,2.75,0,0,1,205,6.88h0A2.6,2.6,0,0,1,202.47,9.37Z'/%3E%3C/svg%3E");
      }

      &.light.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205 9.37'%3E%3Cpath fill='%23fefefe' d='M202.47,9.37A1191.26,1191.26,0,0,0,1.79,7.48,1.67,1.67,0,0,1,0,5.92H0A1.76,1.76,0,0,1,1.63,4.21c67-5.71,133.83-5.43,200.8-.27A2.75,2.75,0,0,1,205,6.88h0A2.6,2.6,0,0,1,202.47,9.37Z'/%3E%3C/svg%3E");
      }

      &.gray.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205 9.37'%3E%3Cpath fill='%23f6f7f9' d='M202.47,9.37A1191.26,1191.26,0,0,0,1.79,7.48,1.67,1.67,0,0,1,0,5.92H0A1.76,1.76,0,0,1,1.63,4.21c67-5.71,133.83-5.43,200.8-.27A2.75,2.75,0,0,1,205,6.88h0A2.6,2.6,0,0,1,202.47,9.37Z'/%3E%3C/svg%3E");
      }

      &.dark.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205 9.37'%3E%3Cpath fill='%23262b32' d='M202.47,9.37A1191.26,1191.26,0,0,0,1.79,7.48,1.67,1.67,0,0,1,0,5.92H0A1.76,1.76,0,0,1,1.63,4.21c67-5.71,133.83-5.43,200.8-.27A2.75,2.75,0,0,1,205,6.88h0A2.6,2.6,0,0,1,202.47,9.37Z'/%3E%3C/svg%3E");
      }

      &.primary.typography:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 205 9.37'%3E%3Cpath fill='rgba(249,204,226,0.7)' d='M202.47,9.37A1191.26,1191.26,0,0,0,1.79,7.48,1.67,1.67,0,0,1,0,5.92H0A1.76,1.76,0,0,1,1.63,4.21c67-5.71,133.83-5.43,200.8-.27A2.75,2.75,0,0,1,205,6.88h0A2.6,2.6,0,0,1,202.47,9.37Z'/%3E%3C/svg%3E");
      }
    }
  }

  &.dropcap.typography {
    display: block;
    float: left;
    font-size: calc(1.375rem + 1.5vw);
    line-height: 1;
    font-weight: 500;
    padding: 0;
    margin: 0.2rem 0.6rem 0 0;
  }

  &.circle.dropcap.typography {
    font-size: calc(1.265rem + 0.18vw);
    height: 2.3rem;
    width: 2.3rem;
    margin: 0.25rem 0.5rem 0 0;
    padding-bottom: 0.15rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 50% !important;
  }
}

/*underline 样式2*/

/*样式3 需配合style-*使用 因为提供了三种不同形式*/

/*首字母大写*/

/*

links

*/

a.lole-typography {
  &.typography {
    transition: all 0.2s ease-in-out;
    color: #60697b;
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  &.hover.typography {
    position: relative;

    &::before {
      position: absolute;
      width: 100%;
      height: 1px;
      background: currentColor;
      top: 100%;
      left: 0;
      pointer-events: none;
      content: "";
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
    }

    &:hover:before {
      transform-origin: 0 50%;
      transform: scale3d(1, 1, 1);
      transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
    }
  }

  &.hover-2.typography {
    position: relative;
    z-index: 1;
    padding: 0 0.2rem 0.05rem;

    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(249, 204, 226, 0.5);
      top: 0;
      left: 0;
      pointer-events: none;
      z-index: -1;
      content: "";
      transform-origin: 100% 50%;
      transform: scale3d(0, 1, 1);
      transition: transform 0.5s cubic-bezier(0.7, 0, 0.2, 1);
    }

    &:hover {
      &.link-body {
        color: inherit;
      }

      &:before {
        transform-origin: 0 50%;
        transform: scale3d(1, 1, 1);
        transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
      }
    }
  }

  &.hover-3 {
    &.typography {
      position: relative;
      padding: 0 0.2rem 0.05rem;
      transition: color ease 0.3s;
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 3px;
        left: 0;
        bottom: -3px;
        background-color: rgba(249, 204, 226, 0.5);
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        &.link-body {
          color: inherit;
        }

        &:before {
          height: calc(100% + 6px);
        }
      }
    }

    &.more.typography {
      &:before {
        bottom: -1px;
      }

      &:hover:before {
        height: calc(100% + 3px);
      }
    }
  }

  &.hover-2 {
    &.link-sky.typography:before {
      background: #5eb9f0;
    }

    &.link-purple.typography:before {
      background: #747ed1;
    }

    &.link-pink.typography:before {
      background: #d16b86;
    }

    &.link-red.typography:before {
      background: #e2626b;
    }

    &.link-orange.typography:before {
      background: #f78b77;
    }

    &.link-yellow.typography:before {
      background: #fab758;
    }

    &.link-green.typography:before {
      background: #45c4a0;
    }

    &.link-leaf.typography:before {
      background: #7cb798;
    }

    &.link-white.typography:before {
      background: #fff;
    }

    &.link-light.typography:before {
      background: #fefefe;
    }

    &.link-gray.typography:before {
      background: #f6f7f9;
    }

    &.link-dark.typography:before {
      background: #262b32;
    }

    &.link-primary.typography:before {
      background: rgba(249, 204, 226, 0.5);
    }
  }

  &.hover-3 {
    &.link-primary.typography:before {
      background-color: #e0e9fa;
    }

    &.link-sky.typography:before {
      background-color: #e5f4fd;
    }

    &.link-purple.typography:before {
      background-color: #e9eaf8;
    }

    &.link-pink.typography:before {
      background-color: #f8e7ec;
    }

    &.link-red.typography:before {
      background-color: #fae6e7;
    }

    &.link-orange.typography:before {
      background-color: #feece9;
    }

    &.link-yellow.typography:before {
      background-color: #fef3e4;
    }

    &.link-green.typography:before {
      background-color: #e1f6f0;
    }

    &.link-leaf.typography:before {
      background-color: #eaf3ef;
    }

    &.link-white.typography:before, &.link-light.typography:before {
      background-color: white;
    }

    &.link-gray.typography:before {
      background-color: #fefefe;
    }

    &.link-dark.typography:before {
      background-color: #dcddde;
    }

    &.link-primary.typography:before {
      background-color: #e0e9fa;
    }
  }
}

/*links colors*/

.more {
  font-weight: 700;
  letter-spacing: -0.01rem;
  display: inline-block;

  &:after {
    min-height: 100%;
    line-height: 1;
    content: "\25BA";
    margin-bottom: 0.1em;
    padding-left: 0.05rem;
    font-size: 1.2rem;
    font-weight: normal;
    vertical-align: -2px;
    display: inline-block;
  }
}

/*

文本区块

*/

figure, .lole-typography.figure.typography {
  margin: 0;
  padding: 0;
}

blockquote, .lole-typography.blockquote.typography {
  border-left: 0.15rem solid rgba(249, 204, 226, 0.7);
  padding-left: 1rem;
  font-size: 0.85rem;
  line-height: 1.7;
  margin: 0 0 1rem;
  font-weight: 500;
}

blockquote.icon, .lole-typography.icon.blockquote.typography {
  position: relative;
  border: 0;
  padding: 0;
}

blockquote.icon:before, .lole-typography.icon.blockquote.typography:before {
  content: "\201d";
  position: absolute;
  top: -1.5rem;
  left: -0.9rem;
  color: rgba(249, 204, 226, 0.3);
  font-size: 10rem;
  line-height: 1;
  z-index: 1;
}

blockquote.icon.top, .lole-typography.icon.top.blockquote.typography {
  padding-top: 3.75rem;
  position: relative;
}

blockquote.icon.top:before, .lole-typography.icon.top.blockquote.typography:before {
  content: "\201c";
  color: rgb(249, 204, 226);
  opacity: 0.3;
  font-size: 6.5rem;
  font-weight: normal;
  top: 0;
  left: -0.3rem;
}

blockquote.icon.top.text.white:before, .lole-typography.icon.top.text.white.blockquote.typography:before {
  color: #fff;
}

blockquote.center.aligned.icon.top:before, .lole-typography.center.aligned.icon.top.blockquote.typography:before {
  left: 50%;
  transform: translateX(-50%);
}

/*blockquote footer*/

figcaption.footer, .lole-typography.footer.figcaption.typography {
  font-weight: 700;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  margin-bottom: 1rem;
  font-size: 0.6rem;
  color: #aab0bc;
}

figcaption.footer::before {
  content: "\2014\a0";
  font-size: 0.6rem;
}

.lole-typography {
  &.footer.figcaption.typography::before {
    content: "\2014\a0";
    font-size: 0.6rem;
  }

  &.upper.text.typography {
    text-transform: uppercase !important;
  }

  &.lower.text.typography {
    text-transform: lowercase !important;
  }
}

/*大写*/

/*小写*/
