.lole-divider{

  &.divider:not(.svg){
    border-top:1px solid rgba(249,204,226,0.6);
    .inner{
      display: inline-block;
      padding: 0 1em;
    }
  }
  &.divider:first-child{
    margin-top: 0;
  }
  &.divider:last-child{
    margin-bottom: 0;
  }

  /*type 垂直 | 水平*/
  &.vertical.divider{
    position: relative;
    top: -0.06em;
    display: inline-block;
    height: 0.9em;
    margin: 0 8px;
    vertical-align: middle;
    border-top: 0;
    border-left: 1px solid rgba(249,204,226,0.6);
  }
  &.horizontal.divider{
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%; /*Fix https://github.com/ant-design/ant-design/issues/10914*/
    margin: 24px 0;
  }


  /*水平文本*/
  &.horizontal.text.divider{
    display: flex;
    margin: 16px 0;
    color: rgba(0,0,0,0.8);
    font-weight: 500;
    font-size: 1.25em;
    white-space: nowrap;
    text-align: center;
    border-top: 0;
    border-top-color: rgba(249,204,226,0.6);
    &::before,
    &::after{
      content: '';
      position: relative;
      top: 50%;
      width: 50%;
      border-top: 1px solid transparent;
      /* Chrome not accept `inherit` in `border-top`*/
      border-top-color: inherit;
      border-bottom: 0;
      transform: translateY(50%);
    }
  }

  /*水平 文本对齐*/
  &.horizontal.left.aligned.text.divider{
    &::before{
      top: 50%;
      width: 5%;
    }
    &::after{
      top: 50%;
      width: 95%;
    }
  }

  &.horizontal.right.aligned.text.divider{
    &::before{
      top: 50%;
      width: 95%;
    }
    &::after{
      top: 50%;
      width: 5%;
    }
  }

  /*虚线*/
  &.dashed.divider{
    background: none;
    border-color: rgba(0,0,0,0.8);
    border-style: dashed;
    border-width: 1px 0 0;
  }
  &.horizontal.dashed.text.divider::before,
  &.horizontal.dashed.text.divider::after{
    border-style: dashed none none;
  }

  &.vertical.dashed.divider{
    border-width: 0 0 0 1px;
  }

  /*plain正文样式*/
  &.plain.text.divider{
    color: rgba(0,0,0,0.8);
    font-weight: normal;
    font-size: 1em;
  }

  /*orientation*/
  /*no default margin*/
  &.horizontal.left.aligned.text.lole-divider-no-default-orientation-margin-left {
    &::before {
      width: 0;
    }

    &::after {
      width: 100%;
    }

    .inner {
      padding-left: 0;
    }
  }

  &.horizontal.right.aligned.text.lole-divider-no-default-orientation-margin-right {
    &::before {
      width: 100%;
    }

    &::after {
      width: 0;
    }

    .inner {
      padding-right: 0;
    }
  }


  /*svg*/
  &.svg.divider{
    --bs-text-opacity: 1;
    color: #fff !important;
    overflow: hidden;
  }
  &.svg.divider:after{
    content: "";
    width: 100%;
    height: 5px;
    background: currentColor;
    display: block;
    margin-top: -5px;
  }
}
