.lole-alert{

  &.alert{
    display: flex;
    line-height: 1.5;

    position: relative;
    align-items: center;
    padding: 0.5em 1em;
    word-wrap: break-word;
    margin: 1em; //!

    transition: $menu-transition;
    border-radius: 0;
  }

  /*icon*/
  &.alert{
    .icon{
      margin: $alert-padding-y $alert-padding-x;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 2em;
      line-height: 1;
      vertical-align: middle;
      flex: 0 0 auto;
    }
  }

  /*container*/
  &.alert{
    .container{
      flex: 1;
      min-width: 0;
      display: grid;
      margin-left: 1em;

      .message{
        font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        position: relative!important;
        display: inline-block;
        font-size: 1em;
        font-weight: 400;
        line-height: $line-height-lg;
        color:$body-color;
        white-space: normal;
        text-align: left;
        vertical-align: middle;
        background-image: none;
        border: $border-width solid transparent;
        border-radius: $border-radius;
        padding: 0 $btn-padding-x-sm;
      }

      .description{
        position: relative !important;
        display: inline-block;
        font-weight: $font-weight-light;
        line-height: $line-height-sm;
        color:$body-color;
        white-space: normal;
        text-align: left;
        vertical-align: middle;
        background-image: none;
        border: $border-width solid transparent;
        font-size: $font-size-md;
        border-radius: $border-radius;
        margin-bottom: 0.75rem;
        padding: 0 .5rem;
        &:first-child{
          margin-top: 0;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }

      .action{
        position: absolute;
        right: 4em;
        top: 0.8em;
        align-items: center;
      }

    }

  }

  /*close icon*/
  &.alert > .close{
    position: absolute;
    right: 1.6em;
    top: 0.8em;
    opacity: 0.5;
    line-height: 22px;
    border: none;
    transition: opacity 0.1s ease;
    -webkit-transition: opacity 0.1s ease;
    cursor: pointer;

    &:hover{
      opacity: 1;
    }
  }

  .alert-close-text{
    font-size: $font-weight-base;
    font-weight: $font-weight-base;
    overflow: hidden;
    cursor: pointer;
    content: '\f2c0';
    font-family: $font-family-base;
    color: $gray-800;
  }


  /*type*/
  &.info.alert{
    background-color: rgba($primary,0.5);
    border: .1rem $primary solid;
    .close{
      background-color: rgba($primary,0.05) !important;
      >*{
        background-color: rgba($primary,0.05) !important;
      }
    }
  }
  &.success.alert{
    background-color: rgba($success,0.2);
    border: .1rem rgba($success,0.2) solid;
    //opacity: 0.5;

    .icon{
      background-color: rgba($success,0.05);
      >*{
        background-color: rgba($success,0.05);
      }
    }
  }
  &.error.alert{
    background-color: rgba($danger,0.3);
    border: .1rem rgba($danger,0.3) solid;
    //opacity: 0.5;

    .alert-close-icon{
      background-color: rgba($danger,0.01) !important;
      >*{
        background-color: rgba($danger,0.01) !important;
      }
    }
  }
  &.warning.alert{
    background-color: rgba($warning,0.3);
    //opacity: 0.5;
    border: .1rem rgba($warning,0.4) solid;

    .alert-close-icon{
      background-color: rgba($warning,0.01) !important;
      >*{
        background-color: rgba($warning,0.01) !important;
      }
    }
  }


  /*radius*/
  &.round.alert{
    border-radius: $alert-border-radius-round;
  }
  &.default.alert{
    border-radius: $alert-border-radius-default;
  }
  &.circle.alert{
    border-radius: $alert-border-radius-circle;
  }
}
